[Unit]
Description=Didanum Didaspace Container

[Container]
Label=app=didanum-didaspace
ContainerName=didanum-didaspace
Image=localhost/didanum-didaspace:latest
PublishPort=127.0.0.1:8099:3000

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target